# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints

#Pickles
label_encoder_gender.pkl
grip_model.h5
scaler.pkl
Churn_Modelling.csv

# Streamlit / VSCode
.vscode/
